@font-face {
  font-family: "horndon";
  src: url("/fonts/horndonBeckerRegular.ttf") format("truetype");
}

.servicesPricesItem {
  font-family: sans-serif;
  text-align: center;
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

.servicesPricesItemName {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
