@font-face {
  font-family: "horndon";
  src: url("/fonts/horndonBeckerRegular.ttf") format("truetype");
}

.notFoundTitle {
  margin: 100px;
}

.clientsListContainer {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  min-height: 80vh;
  overflow-x: hidden;
}

.clientsListTitle {
  font-family: "horndon";
  font-size: 2.5em;
  text-shadow: 0 0 20px white;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  letter-spacing: 3px;
}

.clientsList {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.clientsItem {
  margin: 10px;
  border-bottom: 1px solid #eee;
  background-color: white;
  box-shadow: 0 0 10px black;
  border-radius: 10px;

  gap: 15px;
  max-width: 600px;
  width: 80%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
}

.clientsName {
  margin-top: "10px";
}

.clientsName,
.clientsEmail,
.clientsPhone,
.clientsAddress {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-top: 10px;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.clientsServiceButton {
  width: 100%;
  display: flex;
  justify-content: center;
}

.clientsName {
  grid-column: 1/2;
  grid-row: 1/2;
}

.clientsEmail {
  grid-column: 2/3;
  grid-row: 1/2;
}

.clientsPhone {
  grid-column: 1/2;
  grid-row: 2/3;
  text-decoration: none;
}

.clientsAddress {
  grid-column: 2/3;
  grid-row: 2/3;
}

.clientsServiceButton {
  grid-column: 1/3;
  grid-row: 3/4;
}

.clientsListActions {
  grid-column: 1/3;
  grid-row: 3/4;
}

.clientsItem div {
  display: flex;
  align-items: center;
  gap: 5px; /* Espacio entre ícono y texto */
}

.clientsListBar {
  width: 100%;
  height: auto;
  box-shadow: 0 0 10px black;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 35px;
}

.clientsListActions,
.clientsServiceButton {
  display: flex;
  justify-content: center;
}

@media (max-width: 700px) {
  .clientsItem {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
  }

  .clientsName {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .clientsEmail {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .clientsPhone {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .clientsAddress {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .clientsServiceButton {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  .clientsListActions {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}

.bar {
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.bar.visible {
  opacity: 1;
}

.viewport {
  height: 500px;
  /* overflow: hidden; */
  position: relative;
}
